<div class="flex flex-col items-center w-full max-w-xs mx-auto">
  <h2 class="text-center mb-4 block font-bold mb-2">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4 text-center">
      <%= f.label :email, class: "block  text-sm font-bold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field mb-4 text-center">
      <%= f.label :password, class: "block  text-sm font-bold" %>
      <% if @minimum_password_length %>
      <em class="text-xs">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field mb-4 text-center">
      <%= f.label :password_confirmation, class: "block  text-sm font-bold" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="actions text-center mb-4">
      <%= f.submit "Sign up", class: "cursor-pointer bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

  <div class="text-center pt-2">
    <%= render "devise/shared/links" %>
  </div>
</div>
