<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="title" class="flex justify-between items-center">
    <h1 class="font-bold text-4xl" data-controller="listing">Listings</h1>
    <a class="rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" data-controller="listing" data-path="<%= new_listing_path %>">New Listing</a>
  </div>

  <%= turbo_frame_tag id="new_listing" %>

  <%= turbo_frame_tag id="listings", class: "grid gap-y-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" do %>
    <% @listings.each do |listing| %>
      <%= render(ListingComponent.new(listing: listing)) %>
    <% end %>
  <% end %>
</div>
