<style>
  .input-class {
    color: black !important;
  }
</style>
<%= form_with(model: @listing, class: "contents") do |form| %>
  <% if @listing_object.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@listing_object.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% @listing_object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, value: @listing_object.title, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full input-class" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, value: @listing_object.description, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full input-class" %>
  </div>

  <div class="my-5">
    <label>Image Upload (Single Image)</label>
    <div id="my-dropzone" class="dropzone mt-2 bg-gray-800" data-controller="photo-upload" data-photo-upload-url="<%= photos_path %>" data-photo-upload-csrf-token="<%= form_authenticity_token %>" data-photo-upload-listing-id="<%= @listing_object.id %>"></div>
    <%= form.hidden_field :image_url, value: @listing_object.image_url, id: 'listing_image_url' %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, value: @listing_object.address, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full input-class" %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, value: @listing_object.price, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full input-class" %>
  </div>

  <div class="my-5">
    <%= form.label :Renting? %> 
    <%= form.check_box :buy_or_rent, value: @listing_object.buy_or_rent, class: "mt-2 h-5 w-5" %>
  </div>

  <div class="flex justify-center" data-controller="submit">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer", id: "listing-form-submit" %>
  </div>
<% end %>
