<%= turbo_frame_tag dom_id(@listing), class: "" do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= @listing.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= @listing.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= @listing.image_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= @listing.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buy or rent:</strong>
    <%= @listing.buy_or_rent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= @listing.description %>
  </p>
<% end %>