<%= turbo_frame_tag dom_id(@listing) do %>
  <% unless params[:action] == 'show' %>
    <div data-controller="redirect" data-action="click->redirect#goToLink" data-url="<%= listing_path(@listing) %>" class="cursor-pointer">
  <% else %>
    <div style="cursor: default">
  <% end %>
    <% unless params[:action] == 'show' %>
      <p class="my-5">
        <%= @listing.title %>
      </p>
    <% end %>

  <% if @listing.image_url.present? %>
    <img src="<%= @listing.get_image_url %>" alt="Listing Image">
  <% end %>

    <p class="my-5">
      <%= @listing.description %>
    </p>

    <p class="my-5">
      <%= @listing.address %>
    </p>

    <% if @listing.price.presence %>
    <%= @listing.price %> <% if @listing.buy_or_rent == false %> $ <% else %> $/mo <% end %>
    <% end %>
  </div>

  <% if @user_signed_in %>
    <div class="flex justify-between">
    <%= form_with(model: @listing, local: true, method: :delete) do |form| %>
      <%= form.submit "Delete", class: "text-white py-2 px-4 rounded cursor-pointer", style: "background-color: red;" %>
    <% end %>
      <a class="text-white py-2 px-4 rounded cursor-pointer bg-blue-600 edit_listing_button_<%= @listing.id %>" id="<%= @listing.id %>" data-controller="edit-listing" data-path="<%= edit_listing_path(id: @listing.id) %>">Edit Listing</a>
    </div>
  <% end %>
  
  <%= turbo_frame_tag dom_id(@listing, :edit) %>
<% end %>